:root {
    --primary-background: #ff4a22;
    --primary-text: #FFFFFF;
    
    --secondary-background: #333F4F;
    --secondary-text: #F1C40F;

    --accent-background: #fbe177;
    
    --neutral-background: #CCCCCC;
    --neutral-text: #000000;

    --primary-font: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    --heading-font: "Arial Black", Gadget, sans-serif;
    --menu-font: "Verdana", Geneva, sans-serif;
    --secondary-font: "Georgia", "Times New Roman", Times, serif;

    --padding-large: 2rem;
    --padding-medium: 1rem;
    --padding-small: 0.5rem;
    --padding-xsmall: 0.25rem;

    --font-size-large: 2rem;
    --font-size-medium: 1.5rem;
    --font-size-small: 1rem;
    --font-size-active: 1.15rem;
    --font-size-xsmall: 0.75rem;

    --main-max-width: 1600px;
}
  